In [ ]:
import pandas as pd
import numpy as np

시리즈 생성/조회/수정

In [ ]:
# 문제 1
s1 = pd.Series([5, 10, 15, 20])
s2 = pd.Series([2, 4, 6, 8])

# 문제 2
s = pd.Series([70, 80, 90], index=['국어', '영어', '수학'])
s.loc['국어']
s.loc['수학'] = 75

# 문제 3
s = pd.Series([15, 27, 18], index=['봄', '여름', '가을'])
s.loc['봄']
s.loc['가을'] = 20

# 문제 4
s = pd.Series([1000, 1200, 1300], index=['01-01', '01-02', '01-03'])
s['01-01']
s['01-02'] = 1250

# 문제 5
s = pd.Series([300, 400, 500], index=['월', '화', '수'])
s['화']
s['수'] = 550

데이터 프레임 생성/조회/수정

In [ ]:
# 문제 1
data = {"name": ["철수", "영희", "민수"],
        "math": [85, 90, 78]}
df = pd.DataFrame(data)

data = {"day": ["월", "화", "수"],
        "sales": [1000, 1200, 900]}
df = pd.DataFrame(data)

# 문제 2
data = np.array([[30, 10],
                 [40, 20]])
df = pd.DataFrame(data,
                  index=['사과', '배'],
                  columns=['판매량', '재고'])
df.loc['사과', '판매량']
df['가격'] = [1000, 1200]

# 문제 3
data = np.array([[950, 1200],
                 [500, 800]])
df = pd.DataFrame(data,
                  index=['서울', '부산'],
                  columns=['인구', '면적'])
df.loc['서울', '면적']
df['특산물'] = ['김치', '어묵']

# 문제 4
data = np.array([[15000, '홍길동전'],
                 [20000, '해리포터']])
df = pd.DataFrame(data,
                  index=['책1', '책2'],
                  columns=['가격', '제목'])
df.loc['책2', '가격']
df.insert(1, '저자', ['허균', 'J.K. 롤링'])

# 문제 5
data = np.array([[9.0, 14000],
                 [8.2, 9500]])
df = pd.DataFrame(data,
                  index=['기생충', '인터스텔라'],
                  columns=['평점', '관객수'])
df.loc['기생충', '평점']
df = df.drop(columns=['관객수'])

시리즈의 계산과 조건 검색

In [ ]:
# 문제 1
s = pd.Series([80, 90, 75, 85], index=['국어', '영어', '수학', '과학'])
print("총점:", s.sum())
print("평균:", s.mean())
print("최고 점수:", s.max())
print("최저 점수:", s.min())

# 자주 사용하는 통계 함수: sum mean max min
# numpy의 배열, pandas의 시리즈와 데이터프레임 모두 사용 가능

# 문제 2
s = pd.Series([2, 5, -1, 0, 7, -3, 4],
              index=['월', '화', '수', '목', '금', '토', '일'])
s >= 0       # 불리언 배열
s[s >= 0]    # 조건을 만족하는 값만 추출

데이터 프레임의 계산과 조건 검색

In [ ]:
# 문제 1
data = np.array([[12000, 9.0],
                 [8000, 8.5],
                 [15000, 9.3]])
df = pd.DataFrame(data,
                  index=['기생충', '인터스텔라', '아바타'],
                  columns=['관객수', '평점'])
df['관객수'] + 1000
df['평점'] >= 9.0
df[df['평점'] >= 9.0]

# 문제 2
data = np.array([[25000, 30000],
                 [40000, 15000]])
df = pd.DataFrame(data,
                  index=['치마', '바지'],
                  columns=['1월 매출', '2월 매출'])
df['합계'] = df['1월 매출'] + df['2월 매출']
df['합계(만원)'] = df['합계'] / 10000

nan 처리

In [ ]:
# 문제 1
data = [[20, 25, 15],
        [18, 22, 19],
        [25, 27, 23]]
df = pd.DataFrame(data,
                  index=['서울', '부산', '대구'],
                  columns=['봄', '여름', '겨울'])
# 서울의 여름 기온을 NaN으로 변경
df.loc['서울', '여름'] = np.nan
# 형변환을 안해도 nan를 넣으면 해당 열이 float으로 자동으로 바뀜
df.dtypes
# NaN이 있는 행 삭제
df = df.dropna(axis=0)
# # 부산의 봄 기온을 NaN으로 변경
df.loc['부산', '봄'] = np.nan
# NaN을 0으로 채우기
df = df.fillna(0)

# 문제 2
# 데이터 생성
data = [[80, 75, 90], 
        [85, 88, 82], 
        [70, 65, 78]]
df = pd.DataFrame(data, index=['국어', '영어', '수학'], columns=['1반', '2반', '3반'])
# 2반 영어 점수를 NaN으로 변경
df.loc['영어', '2반'] = np.nan
# 빈값이 포함된 열 삭제
df = df.dropna(axis=1)
# 3반 수학 점수를 NaN으로 변경
df.loc['수학', '3반'] = np.nan
# 4. 모든 빈값을 100으로 채우기
df = df.fillna(100)

중복제거와 개수세기

In [ ]:
# 문제1
# 지역 목록을 시리즈로 만들어주세요
# 값은 ['서울', '부산', '서울', '대구', '부산', '광주', '서울'] 입니다
# 중복을 제거한 데이터만 출력하세요
# 각 도시가 몇번 나왔는지 출력하세요
s = pd.Series(['서울', '부산', '서울', '대구', '부산', '광주', '서울'])
s.unique()
s.value_counts()

# 문제2
# 이름 목록을 시리즈로 만들어주세요
# 값은 ['민수', '지연', '철수', '민수', '영희', '민수', '지연'] 입니다
# 가장 많이 나온 이름의 수를 출력하세요
s = pd.Series(['민수', '지연', '철수', '민수', '영희', '민수', '지연'])
print("가장 많이 나온 이름:", s.value_counts().max())