### 5. 데이터 불러오기와 간단한 분석까지

In [ ]:
import numpy as np
import pandas as pd
import json
import sqlite3

#### 5.1 파일 다루기

CSV 파일 불러오기1

In [ ]:
# read_csv: csv 파일을 읽어서 데이터프레임으로 반환
df = pd.read_csv("sample/sample1.csv")

# 프레임의 행열 이름 확인
# df.index
# df.columns

# 학번 컬럼을 인덱스로 바꾸기
df = df.set_index("student_id")

CSV 파일 불러오기2

In [ ]:
# 파일에 한글이 포함되어 있어서 에러남
# df = pd.read_csv("sample/sample2.csv")
# 인코딩 추가
df = pd.read_csv("sample/sample2.csv", encoding="euc-kr")
df
# 기존 컬럼은 유지하면서, 상품명을 인덱스로 설정
df.index = df['상품명']
df

JSON 파일 불러오기1  
<small>
파이썬의 딕셔너리와 비슷한 구조
</small>

In [ ]:
# 파일 열기
f = open("sample/sample3.json", "r")
# load: json 파일을 읽어서 딕셔너리로 반환
dic = json.load(f)
dic

JSON 파일 불러오기2

In [ ]:
# 한글이 포함되어 있어서 에러남
# f = open("sample/sample4.json", "r")
# 인코딩 추가
f = open("sample/sample4.json", "r", encoding='utf-8')
# json 단일 객체면 딕셔너리로 반환됨
dic = json.load(f)
dic
# 키와 값 꺼내기
for key, value in dic.items():
    print(key, value)

JSON 파일 불러오기3

In [ ]:
# 판다스의 read_json 함수 사용
# json 배열 형태일때 데이터 프레임으로 반환됨
df = pd.read_json("sample/sample5.json")
df
# 프레임의 인덱스와 컬럼
df.index
df.columns

# 홍길동의 나이 꺼내기
df.loc[0,'age']

# 홍길동 정보만 꺼내기
df.loc[0,:]

#### 5.2 데이터베이스 연결하기  
<small>
파일형 데이터베이스: MySQL, Oracle<br>
설치형 데이터베이스: SQLite<br>
설치형 데이터베이스는 파일만 있으면 어디서든 열 수 있다!    
</small>

테이블 생성 및 데이터 추가

In [ ]:
# mydata.sqlite 라는 이름으로 데이터베이스 생성 또는 연결
con = sqlite3.connect("mydata.sqlite")

# 테이블 생성 쿼리
# con.execute("CREATE TABLE student (id INTEGER, name TEXT, age INTEGER)")

# 데이터 추가
# con.execute("INSERT INTO student VALUES (1, '홍길동', 25)")
# con.execute("INSERT INTO student VALUES (2, '김철수', 30)")
# con.commit()

데이터 전체 조회

In [ ]:
# SELECT 실행
cur = con.execute("SELECT * FROM student")

# 결과 가져오기
rows = cur.fetchall()
# 튜플이 담긴 리스트
rows
# 출력
for row in rows:
    print(row)

데이터 단건 조회

In [ ]:
# SELECT 실행 (특정 id=1 학생만 조회)
cur = con.execute("SELECT * FROM student WHERE id = 1")

# 단건 가져오기
row = cur.fetchone()

# 출력
row

#### 5.3 공공데이터 활용하기

csv 파일 불러오기

In [ ]:
df = pd.read_csv("sample/OBS_ASOS_TIM_20250916015211.csv", encoding="utf-8")
df

인천의 하루 평균 기온과 습도 구하기

In [ ]:
# 기온만 선택
df["기온(°C)"]

# 평균 기온 계산
avg = int(df["기온(°C)"].mean())
print(f'하루 평균 기온: {avg}(°C)')

# 습도만 선택
df["습도(%)"]

# 평균 습도 계산
avg2 = int(df["습도(%)"].mean())
print(f'하루 평균 습도: {avg2}(%)')

하루 중에 제일 더운 시간 찾기

In [ ]:
# 기온 최고값 인덱스
i = df['기온(°C)'].idxmax()

# 해당 행의 일시와 기온 조회
df.loc[i, '일시']
df.loc[i, '기온(°C)']