In [ ]:
import pandas as pd

시리즈의 멀티 인덱스

In [ ]:
# 1.
# 매출 데이터를 담은 Series를 먄들고, 멀티 인덱스를 설정하세요
# 인덱스: 지역-지점
# 값: 매출

# 서울 전체 매출을 조회하세요
# 부산 해운대점 매출을 조회하세요

In [ ]:
s = pd.Series( [120, 100, 90, 80],                     
               index=[["서울", "서울", "부산", "부산"],   
                      ["강남점", "강북점", "해운대점", "서면점"]])
s
# 서울 전체 지점 매출 조회
# s["서울"]
# # 부산 해운대점 매출 조회
# s.loc[("부산", "해운대점")]

In [ ]:
# 2.
# 쇼핑몰의 판매량 데이터를 담은 Series를 만들고, 멀티 인덱스을 설정하세요
# 인덱스 : 카테고리–상품명
# 값: 판매량

# 전자제품 카테고리 전체 판매량을 조회하세요
# 식품 카테고리의 라면 판매량을 조회하세요

In [ ]:
# 쇼핑몰 판매량 데이터 (카테고리–상품명, 값=판매량)
s = pd.Series(
    [300, 250, 500, 400], 
    index=[["전자제품", "전자제품", "식품", "식품"],
           ["노트북", "휴대폰", "라면", "과자"]]
)
s
# # 전자제품 카테고리 전체 판매량 조회
# s["전자제품"]
# # 식품 카테고리의 라면 판매량 조회
# s.loc[("식품", "라면")]

In [ ]:
# 3.
# 도서관의 대출 건수를 담은 Series를 만들고 멀티 인덱스를 설정하세요
# 인덱스: 학년–과목
# 값: 대출 건수

# 1학년 전체 대출 건수를 조회하세요
# 2학년 수학 과목의 대출 건수를 조회하세요

In [ ]:
# 도서관 대출 건수 데이터 (학년–과목, 값=대출 건수)
s = pd.Series(
    [40, 35, 50, 45],
    index=[["1학년", "1학년", "2학년", "2학년"],
           ["국어", "수학", "국어", "수학"]]
)
s
# # 1학년 전체 대출 건수 조회
# s["1학년"]
# # 2학년 수학 과목의 대출 건수 조회
# s.loc[("2학년", "수학")]

데이터 프레임의 멀티 인덱스

In [ ]:
# 1.
# 도서관 대출 건수를 담은 DataFrame를 만들고, 멀티 인덱스를 설정하세요
# 행 인덱스: 도서관–월
# 열: 소설, 과학
# 값: 대출 건수

# 중앙도서관 전체 대출 건수를 조회하세요
# 시립도서관 2월의 과학 대출 건수를 조회하세요

In [ ]:
df = pd.DataFrame(
    [[120, 45], [95, 60], [150, 70], [110, 55]],
    index=[
        ["중앙도서관", "중앙도서관", "시립도서관", "시립도서관"],
        ["1월", "2월", "1월", "2월"]
    ],
    columns=["소설", "과학"]
)
df

# # 중앙도서관 전체 대출 건수 조회
# df.loc["중앙도서관"]

# # 시립도서관 2월의 과학 대출 건수 조회
# df.loc[("시립도서관", "2월"), "과학"]

In [ ]:
# 2.
# 자동차 판매량 데이터를 담은 DataFrame를 만들고, 멀티 인덱스를 설정하세요
# 행 인덱스: 연도–차종
# 열: 1분기, 2분기
# 값: 판매 대수

# 2022년 전체 판매량을 조회하세요
# 2023년 세단의 2분기 판매량을 조회하세요

In [ ]:
df = pd.DataFrame(
    [[320, 280], [210, 230], [400, 390], [180, 200]],
    index=[
        ["2022년", "2022년", "2023년", "2023년"],
        ["SUV", "세단", "SUV", "세단"]
    ],
    columns=["1분기", "2분기"]
)
df

# # 2022년 전체 판매량 조회
# df.loc["2022년"]

# # 2023년 세단의 2분기 판매량 조회
# df.loc[("2023년", "세단"), "2분기"]

In [ ]:
# 3.
# 호텔 예약 건수를 담은 DataFrame를 만들고, 멀티 인덱스를 설정하세요
# 행 인덱스: 지점–월
# 열: 싱글룸, 더블룸
# 값: 예약 건수

# 서울지점 전체 예약 건수를 조회하세요
# 부산지점 8월의 더블룸 예약 건수를 조회하세요

In [ ]:
df = pd.DataFrame(
    [[45, 30], [50, 35], [60, 40], [55, 38]],
    index=[
        ["서울지점", "서울지점", "부산지점", "부산지점"],
        ["7월", "8월", "7월", "8월"]
    ],
    columns=["싱글룸", "더블룸"]
)
df

# # 서울지점 전체 예약 건수 조회
# df.loc["서울지점"]

# # 부산지점 8월의 더블룸 예약 건수 조회
# df.loc[("부산지점", "8월"), "더블룸"]

In [ ]:
# 4.
# 쇼핑몰 주문 건수를 담은 DataFrame를 만들고, 멀티 인덱스를 설정하세요
# 행 인덱스: 카테고리–상품
# 열: 1월, 2월
# 값: 주문 건수

# 가전 카테고리 전체 주문 건수를 조회하세요
# 식품 카테고리 라면의 2월 주문 건수를 조회하세요

In [ ]:
df = pd.DataFrame(
    [[120, 140], [80, 95], [200, 220], [150, 160]],
    index=[
        ["가전", "가전", "식품", "식품"],
        ["노트북", "청소기", "라면", "과자"]
    ],
    columns=["1월", "2월"]
)
df

# # 가전 카테고리 전체 주문 건수 조회
# df.loc["가전"]

# # 식품 카테고리 라면의 2월 주문 건수 조회
# df.loc[("식품", "라면"), "2월"]

데이터 합치기 - merge

In [ ]:
# 1.
# 고객 데이터를 담은 DataFrame와 주문 데이터를 담은 DataFrame를 만들고,
# 고객ID 기준으로 합치세요
# → 결과를 보고 어떤 join 방식을 쓸지 결정하세요

In [ ]:
# 고객 데이터
df1 = pd.DataFrame({
    "고객ID": [101, 102, 103],
    "이름": ["철수", "영희", "민수"]
})

# 주문 데이터
df2 = pd.DataFrame({
    "고객ID": [101, 104, 102],
    "상품": ["노트북", "청소기", "책"]
})
# df1
df2

# 두 데이터 합치기 (공통 컬럼은 고객ID)
# 공통된 고객만 가져오기 (inner join)
# pd.merge(df1, df2, on="고객ID")

In [ ]:
# 2.
# 직원 데이터를 담은 DataFrame와 부서 데이터를 담은 DataFrame를 만들고,
# 사번 기준으로 합치세요

In [ ]:
# 직원 데이터
df1 = pd.DataFrame({
    "사번": [1, 2, 3],
    "이름": ["홍길동", "임꺽정", "이몽룡"]
})

# 부서 데이터
df2 = pd.DataFrame({
    "사번": [1, 3],
    "부서": ["영업", "개발"]
})
# df1
df2

# 직원 데이터 기준으로 합치기
# 왼쪽 데이터는 모두 가져오고, 오른쪽은 없으면 NaN (left join)
# pd.merge(df1, df2, on="사번", how="left")

In [ ]:
# 3.
# 상품 데이터를 담은 DataFrame와 재고 데이터를 담은 DataFrame를 만들고,
# 상품코드 기준으로 합치세요

In [ ]:
# 상품 데이터
df1 = pd.DataFrame({
    "상품코드": ["A1", "A2", "A3"],
    "상품명": ["노트북", "청소기", "책상"]
})

# 재고 데이터
df2 = pd.DataFrame({
    "상품코드": ["A2", "A3", "A4"],
    "재고": [5, 8, 10]
})
df2

# 재고 데이터 기준으로 합치기
# 오른쪽 데이터는 모두 가져오고, 왼쪽은 없으면 NaN (right join)
# pd.merge(df1, df2, on="상품코드", how="right")

In [ ]:
# 4.
# 학생 데이터를 담은 DataFrame와 동아리 데이터를 담은 DataFrame를 만들고,
# 학번 기준으로 합치세요

In [ ]:
# 학생 데이터
df1 = pd.DataFrame({
    "학번": [1, 2, 3],
    "이름": ["지훈", "서연", "민지"]
})

# 동아리 데이터
df2 = pd.DataFrame({
    "학번": [2, 4],
    "동아리": ["축구부", "합창단"]
})
df2

# 양쪽 데이터를 모두 가져오기 (outer join)
# pd.merge(df1, df2, on="학번", how="outer")

데이터 합치기 - concat

In [ ]:
# 1.
# 사원 데이터를 담은 DataFrame와 부서 데이터를 담은 DataFrame를 만들고, 하나로 합치세요
# → 결과를 보고 어떤 방향을 쓸지 결정하세요

In [ ]:
df1 = pd.DataFrame({
    "사번": [1, 2],
    "이름": ["홍길동", "임꺽정"]
})

df2 = pd.DataFrame({
    "부서": ["영업", "개발"]
})
df2

# pd.concat([df1, df2], axis=1)

In [ ]:
# 2.
# 세 개의 매출 데이터 DataFrame를 만들고, 하나로 합치세요
# → 결과를 보고 어떤 옵션(방향, 인덱스)을 쓸지 결정하세요

In [ ]:
df1 = pd.DataFrame({"매출": [100, 200]})
df2 = pd.DataFrame({"매출": [150, 250]})
df3 = pd.DataFrame({"매출": [300, 400]})
df3

# pd.concat([df1, df2, df3], axis=0, ignore_index=True)

In [ ]:
# 3.
# 두 개의 학생 점수 데이터를 담은 DataFrame를 만들고, 하나로 합치세요

In [ ]:
df1 = pd.DataFrame({
    "이름": ["철수", "영희"],
    "국어": [85, 90]
})

df2 = pd.DataFrame({
    "이름": ["민수", "지연"],
    "수학": [78, 92]
})
df2

# pd.concat([df1, df2], axis=1)

데이터 재구성

In [ ]:
# 1.
# 쇼핑몰 판매 데이터를 담은 DataFrame를 만들고,
# pivot을 이용해 카테고리별 월 매출을 출력하세요

In [ ]:
df = pd.DataFrame({
    "카테고리": ["식품", "식품", "가전", "가전"],
    "월": ["1월", "2월", "1월", "2월"],
    "매출": [200, 250, 500, 550]
})
df

# df.pivot(index="카테고리", columns="월", values="매출")

In [ ]:
# 2.
# 도서관 대출 데이터를 담은 DataFrame를 만들고,
# pivot을 이용해 도서관별 장르 대출 건수를 출력하세요

In [ ]:
df = pd.DataFrame({
    "도서관": ["중앙", "중앙", "시립", "시립"],
    "장르": ["소설", "과학", "소설", "과학"],
    "대출건수": [120, 45, 95, 60]
})
df

# df.pivot(index="도서관", columns="장르", values="대출건수")

In [ ]:
# 3.
# 호텔 예약 데이터를 담은 DataFrame를 만들고,
# pivot을 이용해 지점별 객실 유형 예약 건수를 출력하세요

In [ ]:
df = pd.DataFrame({
    "지점": ["서울", "서울", "부산", "부산"],
    "객실유형": ["싱글룸", "더블룸", "싱글룸", "더블룸"],
    "예약건수": [45, 30, 50, 35]
})
df

# df.pivot(index="지점", columns="객실유형", values="예약건수")